body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}


.customize {
    background-color: #007bff;
}

.history {
    background-color: #6c757d;
}

.priority {
    background-color: #28a745;
}