<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="demo.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>choose!</h1>
    <div class="container">
        <button class="customize" onclick="alert('Customize Space Button Clicked!')">Customize Space</button>
        <button class="history" onclick="alert('Booking History Button Clicked!')">Booking History</button>
        <button class="priority" onclick="alert('Priority Booking Button Clicked!')">Priority Booking</button>
    </div>
</body>
</html>