<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/memebership.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memebership</title>
</head>
<body>
    <h1>become a member!</h1>
        <form action="/" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <div>
            <label for="name"> full Name:</label>
            <input type="text" id="name" name="name" required>
        </div><br>
        
        <div>
            <label for="phone">phone number:</label>
            <input type="text" id="phone" name="phone" required>
        </div><br>

        <div>
            <label for="card">credit card:</label>
            <input type="text" id="card" name="card" required>
        </div><br>
        
        <button type="submit">Submit</button>
    </form>

    <h1>(amount of days)Free trail</h1>
</body>
</html>
